*{
    padding: 0px;
    margin: 0px;
}
#banner-image{
    width: 100%;

}
#product-container{
    display: flex;
}

#filter{
    width: 330px;
    border-right: 1px solid rgb(223, 212, 212);
    border-top: 1px solid rgb(223, 212, 212);

}

#sizes{
    margin-top: 30px;
    margin-left: 20px;
    border-bottom: 2px solid rgb(223, 212, 212);


}

#prices{
  line-height: 25px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(72, 68, 68);
}


#sizes p ,#product p , #themes p{
    font-weight: 800;
}
#product{
    margin-top: 150px;
    margin-left: 20px;
    border-bottom: 2px solid rgb(223, 212, 212);
    font-size: 14px;


}

#themes{
    margin-top: 30px;
    margin-left: 20px;
    border-bottom: 2px solid rgb(223, 212, 212);
    font-size: 14px;


}


#product-search-box{
    height: 40px;
    width: 230px;
    border: none;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: 20px;
    border-color:rgb(223, 212, 212);
}
#theme-search-box{
    height: 40px;
    width: 230px;
    border: none;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: 20px;
    border-color:rgb(223, 212, 212);

}
#size-search-box{
    height: 40px;
    width: 230px;
    border: none;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: 20px;
    border-color:rgb(223, 212, 212);
}

#size-options{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
    height:100px;
}

.options{
    width: 43px;
    height: 25px;
    border: 2px solid rgb(124, 119, 119);
    border-radius: 10px;
    text-align: center;
    align-self: center;
    font-size: 13px;
    color: gray;
    padding-top: 2px;
}

.text-product-checkbox{
  line-height: 25px;
  color: gray;
}
.text-theme-checkbox{
    line-height: 25px;
    color: gray;
}

#image-container{
    width: 100%;
}
#sorting{
    margin-left: 30px;
    height: 80px;
}
#sorting #p1{
    color: gray;
    margin-top: 30px;
    font-size: 13px;
}

#product-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 100px;
    margin-left: 20px;
    width: 100%;
}

.images{
    width: 240px;
}

.product-info .tag-name{
   font-weight: 800;
   font-size: 14px;
   color: rgb(112, 107, 107);
   line-height: 25px;
   border-bottom: 1px solid rgb(238, 230, 230);
   
}
.product-info .size-name{
  font-size: 14px;
  font-weight: 500;
  color: rgb(44, 42, 42);

}
.product-info .price{
    font-weight: 900;
    color: rgb(65, 57, 57);
}